*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.header{
    background-color: #cf9e27;
    padding: 20px;
}

.search input[type=text]{
    width: 80%;
    outline: none;
    border: 2px solid #ffffff;
    background-color: #cf9e27;
    color: #ffffff;
    padding: 10px 10px;
}

.search input[type=text]:hover{
    border: 2px solid #000000;
    color: #000000;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ffffff;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #ffffff;
}

.menu ul{
    list-style-type: none;
}

.menu ul li a{
    text-decoration: none;
    color: #ffffff;
}

.menu ul li{
    float: left;
    padding: 10px 20px;
}


.menu ul li a:hover{
    color: #000000;
}

.menu ul li{
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
}

.menu ul li:first-child{
    border-left: 0;
}

.menu ul li:last-child{
    border-right: 0;
}

.buttons{
  float: right;  
}

.buttons button{

    background-color: #cf9e27;
    padding: 10px 25px;
    border: 2px solid #ffffff;
    color: #ffffff;
}

.buttons button:hover{
    border: 2px solid #000000;
    color: #000000;
}

.food-card{
    background-color: #cf9e27;
    margin-bottom: 20px;
}
.food-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.food-card:last-child{
    margin-bottom: 100px;
}

.food-card .second-col, .third-col, .fourth-col{
    margin-top: 15px;
}

.admin_panel_left{
    padding-right: 20px;
    padding-left: 30px;
}

.admin_panel_left h1{
    text-align: center;
    margin: 20px 0;
}

.admin_panel_left button{
    border: 1px solid black;
    color: #000;
}

.admin_panel_left button:first-child{
    background-color: yellow;
    padding: 10px 24px;
}

.admin_panel_left button:last-child{
    background-color: red;
    padding: 10px 15px;
}

.admin_panel_right{
    padding-left: 20px;
    padding-right: 30px;
}

.admin_panel_right h1{
    text-align: center;
    margin: 20px 0;
}

.admin_panel_right p{
    font-weight: bold;
    font-size: 20px;
}

.admin_panel_right input, select{
    width: 100%;
    height: 50px;
}

.admin_panel_right textarea{
    width: 100%;
}

.admin_panel_right_row{
    margin-bottom: 20px;
}

.admin_panel_right button{
    float: right;
    border: 1px solid #000;
    color: black;
    background-color: green;
    padding: 15px 25px;
}
