.dashboard_background{
    width: 100%;
    height: 950px;
    background-color: aquamarine;
}


.dashboard_form{
    width: 90%;
    height: 800px;
    margin: 60px auto;
    box-shadow: 10px 10px 5px rgb(135, 97, 206);
    border-radius: 10px;
    background-color: azure;
}

.left_menu{
    width: 100%;
    height: 800px;
}

.left_menu ul li{
    list-style-type: none;
}

.left_menu ul li button{
    width: auto;
    border: none;
    padding: 10px 35px;
    color: white;
    background-color: #a148f5;
    border-radius: 5px;
    margin-top: 30px;
}

.right_menu{
    width: 100%;
    height: 800px;
    border-left: 1px solid rgb(135, 97, 206);
}

.left_top_right_menu{
    width: 100%;
    margin-top: 30px;
}

.right_menu_top{
    width: 100%;
}

.right_menu_bottom{
    width: 100%;
    margin-top: 30px;
    /* border: 1px solid black; */
}


.right_top_right_menu{
    width: 100%;
}

.right_top_right_menu button{
    width: auto;
    float: right;
    border: none;
    padding: 10px 35px;
    color: white;
    background-color: #a148f5;
    border-radius: 5px;
    margin-top: 30px;
}

.left_bottom_right_menu{
    width: 100%;
}

.right_bottom_right_menu{
    width: 100%;
}

.left_bottom_right_menu input{
    height: 50px;
    border: none;
    background-color: rgb(235, 235, 235);
    border-bottom: 2px solid #7379fc;
    outline: none;
    color: #a148f5;
    float: left;
    
}

.left_bottom_right_menu button{
    width: auto;
    float: left;
    border: none;
    padding: 10px 35px;
    color: white;
    background-color: #a148f5;
    border-radius: 5px;
    margin-top: 2px;
    margin-left: 20px;
}

.left_bottom_right_menu_change_button_color table tr td:nth-child(6) button{
    width: auto;
    border: none;
    padding: 10px 35px;
    color: #a148f5;
    background-color: yellow;
    border-radius: 5px;
    

}

.left_bottom_right_menu_change_button_color table tr td:nth-child(7) button{
    width: auto;
    border: none;
    padding: 10px 35px;
    color: white;
    background-color: red;
    border-radius: 5px;
    

}

.right_bottom_right_menu input{
    width: 100%;
    height: 50px;
    border: none;
    background-color: rgb(235, 235, 235);
    border-bottom: 2px solid #7379fc;
    outline: none;
    color: #a148f5;
}

.right_bottom_right_menu table tr td button{
    width: auto;
    border: none;
    padding: 10px 35px;
    color: white;
    background-color: green;
    border-radius: 5px;
}

#input1, #input2, #input3, #input4, #input5 {
    width: 3em;
}
