*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.header{
    background-color: #cf9e27;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.search input[type=text]{
    width: 80%;
    outline: none;
    border: 2px solid #ffffff;
    background-color: #cf9e27;
    color: #ffffff;
    padding: 10px 10px;
}

.search input[type=text]:hover{
    border: 2px solid #000000;
    color: #000000;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ffffff;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #ffffff;
}

.menu ul{
    list-style-type: none;
}

.menu ul li a{
    text-decoration: none;
    color: #ffffff;
}

.menu ul li{
    float: left;
    padding: 10px 20px;
}


.menu ul li a:hover{
    color: #000000;
}

.menu ul li{
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
}

.menu ul li:first-child{
    border-left: 0;
}

.menu ul li:last-child{
    border-right: 0;
}

.buttons{
  float: right;  
}
.buttons button{

    background-color: #cf9e27;
    padding: 10px 25px;
    border: 2px solid #ffffff;
    color: #ffffff;
}
.buttons button:hover{
    border: 2px solid #000000;
    color: #000000;
}

.order_food_menu h2{
    margin-bottom: 50px;
}

.order_food_menu h1, .order_food_cart h1{
    text-align: center;
    margin-top: 140px;
}

.order_food_menu h2{
    border-bottom: 2px solid #cf9e27;
    color: #cf9e27;
}

.order_food_menu p{
    margin-bottom: 50px;
}

.add-food-button{
    background-color: #0fc758;
    color: #ffffff;
    padding: 10px 25px;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
}

.add-food-button{
    display: none;
}

.relative {
    position: relative;
    width: 300px;
    height: 300px;
    margin-left: 30px;
}
  
.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.food-card:hover .add-food-button{
    display: block;
}   

.food-card:hover img{
    background-color: #cf9e27;
    opacity: 50%;
}   

.food-card{
    width: 90%;
    background-color: #cf9e27;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 15px;
    margin-bottom: 50px;
    box-shadow: #000000 0px 5px 5px 0px;;
}

.food-card h3{
    text-align: center;
    margin: 20px 0;
}

.food-card p{
    width: 80%;
    margin: auto;
}

.food-card img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.order_food_cart{
    background-color: white;
}

.order_food_cart h1{
    border-bottom: 2px solid #cf9e27;
    padding-bottom: 45px;
}

.cart-headers{
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cart-items{
    margin: 10px 0;
}

.cart-items .product-right {
    display: flex;
    flex-direction: column;
}

.cart-items .product button{
    background-color: red;
    color: #ffffff;
    border: none;
    padding: 5px 0;
    margin-top: auto;
}

.cart-items button:hover{
    color: #000;
    border: 1px solid #000000;
}

.cart-items input{
    border: 1px solid #000;
    border-radius: 6px;
}


.quantity button{
    color: #ffffff;
    border: none;
    font-weight: bold;
}

.quantity button:first-child{
    background-color: red;
    padding: 0 8px;
}

.quantity button:last-child{
    background-color: green;
    padding: 0 5px;
}

.cart-bottom{
    border-top: 2px solid #cf9e27;
    margin-top: 30px;
    padding: 50px 0;
    font-weight: bold;
}

.cart-bottom button{
    background-color: green;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
}

.cart-bottom button:hover{
    color: #000;
    border: 1px solid #000000;
}
