*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}


.header{
    background-color: #cf9e27;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.search input[type=text]{
    width: 80%;
    outline: none;
    border: 2px solid #ffffff;
    background-color: #cf9e27;
    color: #ffffff;
    padding: 10px 10px;
}

.search input[type=text]:hover{
    border: 2px solid #000000;
    color: #000000;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ffffff;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #ffffff;
}

.menu ul{
    list-style-type: none;
}

.menu ul li a{
    text-decoration: none;
    color: #ffffff;
}

.menu ul li{
    float: left;
    padding: 10px 20px;
}


.menu ul li a:hover{
    color: #000000;
}

.menu ul li:nth-child(2){
    border-right: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
}


.buttons{
  float: right;  
}
.buttons button{

    background-color: #cf9e27;
    padding: 10px 25px;
    border: 2px solid #ffffff;
    color: #ffffff;
}
.buttons button:hover{
    border: 2px solid #000000;
    color: #000000;
}

.order_food_menu{

}

.order_food_menu h1, .order_food_cart h1{
    text-align: center;
    margin-top: 140px;
}

.order_food_menu h2{
    border-bottom: 2px solid #cf9e27;
    color: #cf9e27;
}

.order_food_menu p{
    margin-bottom: 50px;
}


.order_food_cart{
    background-color: rgb(204, 201, 201);
}

.add-food-button button{
    background-color: #0fc758;
    color: #ffffff;
    padding: 10px 25px;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
}

.add-food-button{
    width: 230px;
    height: 70px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
}

.food-card:hover .add-food-button{
    display: block;
}   

.food-card:hover img{
    background-color: #cf9e27;
    opacity: 40%;
}   


