.right_login_form_row_1{
    width: 100%;
    color: #a148f5;
    text-align: center;
    margin: 20px 0;
}


.right_login_form_row_2{
    width: 100%;
    color: #7379fc;
    text-align: center;
    margin: 20px 0;
}

.right_login_form_row_5{
    margin-top: 50px;
}

.right_login_form_row_6{
    text-align: center;
    margin-top: 30px;
    color: #a148f5;
}
